<launch>
  <arg name="model" default="$(find new_gripper)/urdf/1_try.urdf"/>
  <arg name="rvizconfig" default="$(find new_gripper)/rviz/next.rviz" />
  <arg name="length0" default="1.0" />
  <arg name="prefix" default="hande_"/>
  <arg name="MAC" default="_000000000004"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>
    
 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"  required="true" />
</launch>
