<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.14159274"/>
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="baxter_ros_control" filename="libbaxter_gazebo_ros_control.so">
      <robotNamespace>/robot</robotNamespace>
    </plugin>
  </gazebo>
  <!-- Gazebo-Specific Link Properties -->
  <gazebo reference="torso">
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="head_pan">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_s0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_s1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_e0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_e1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_w0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_w1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_w2">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_s0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_s1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_e0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_e1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_w0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_w1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_w2">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <!-- Gazebo-Specific Sensor Properties -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>



  <gazebo reference="kinect">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Black</material>
    <!-- hd -->
    <sensor type="depth" name="baxter">
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>${84.1*M_PI/180.0}</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>1920</width>
          <height>1080</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>4.5</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.005</stddev>
        </noise>
      </camera>
      <plugin name="baxter_camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <cameraName>baxter/hd</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>30</updateRate>
        <imageTopicName>image_color</imageTopicName>
        <depthImageTopicName>image_depth</depthImageTopicName>
        <pointCloudTopicName>points</pointCloudTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>camera_info</depthImageCameraInfoTopicName>
        <frameName>kinect_optical_frame</frameName>
        <baseline>0.1</baseline>
        <distortion_k1>-0.11862627596824302</distortion_k1>
          <distortion_k2>0.1330449495758574</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0012978747886444077</distortion_t1>
          <distortion_t2>-0.002273816413316873</distortion_t2>
          <focalLength>2293.3324879074394</focalLength>
          <hackBaseline>0.0</hackBaseline>
          <Cx>1041.4935095434566</Cx>
          <Cy>857.6330096952366</Cy>
          <pointCloudCutoff>0.05</pointCloudCutoff>
          <pointCloudCutoffMax>4.5</pointCloudCutoffMax>
      </plugin>
    </sensor>
  </gazebo>



  
  <gazebo reference="head_camera">
    <sensor name="head_camera" type="camera">
      <update_rate>30.0</update_rate>
      <camera name="head_camera">
        <pose>0.0 0.21 0.0 0.0 -0.8 -1.570796327 </pose>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>head_camera</cameraName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>head_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <robotNamespace>/cameras</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo reference="right_hand_camera">
    <sensor name="right_hand_camera" type="camera">
      <update_rate>30.0</update_rate>
      <camera name="right_hand_camera">
        <pose>0.0 0.0 0.0 0.0 -1.570796327 1.570796327 </pose>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>right_hand_camera</cameraName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>right_hand_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <robotNamespace>/cameras</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo reference="left_hand_camera">
    <sensor name="left_hand_camera" type="camera">
      <update_rate>30.0</update_rate>
      <camera name="left_hand_camera">
        <pose>0.0 0.0 0.0 0.0 -1.570796327 1.570796327 </pose>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>left_hand_camera</cameraName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>left_hand_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <robotNamespace>/cameras</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo reference="display">
    <visual>
      <plugin name="screen_video_controller" filename="libgazebo_ros_video.so">
        <height>600</height>
        <width>1024</width>
        <topicName>/robot/xdisplay</topicName>
      </plugin>
    </visual>
  </gazebo>
  <gazebo reference="sonar_ring">
    <sensor name="sonar" type="ray">
      <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
      <ray>
        <scan>
          <horizontal>
            <samples>12</samples>
            <resolution>1.0</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
          <vertical>
            <samples>2</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.001</min_angle>
            <max_angle>0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.05</min>
          <max>50.0</max>
        </range>
      </ray>
      <plugin name="sonar_plugin" filename="libgazebo_ros_block_laser.so">
        <gaussianNoise>0.00</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <topicName>/robot/sonar/head_sonar/state</topicName>
        <frameName>sonar_ring</frameName>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
    </sensor>
  </gazebo>
  <gazebo reference="right_hand_range">
    <sensor name="ir_right" type="ray">
      <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
      <ray>
        <scan>
          <horizontal>
            <samples>1</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.5</min_angle>
            <max_angle>0.5</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.004</min>
          <max>0.4</max>
        </range>
      </ray>
      <plugin name="plugin_3" filename="libgazebo_ros_laser.so">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>100</updateRate>
        <topicName>/sim/laserscan/right_hand_range/state</topicName>
        <frameName>right_hand_range</frameName>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
    </sensor>
  </gazebo>
  <gazebo reference="left_hand_range">
    <sensor name="ir_left" type="ray">
      <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
      <ray>
        <scan>
          <horizontal>
            <samples>1</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.5</min_angle>
            <max_angle>0.5</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.004</min>
          <max>0.4</max>
        </range>
      </ray>
      <plugin name="plugin_4" filename="libgazebo_ros_laser.so">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>100</updateRate>
        <topicName>/sim/laserscan/left_hand_range/state</topicName>
        <frameName>left_hand_range</frameName>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="mimic_joint_plugin_left" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>l_gripper_l_finger_joint</joint>
      <mimicJoint>l_gripper_r_finger_joint</mimicJoint>
      <multiplier>-1.0</multiplier>
    </plugin>

    <plugin name="mimic_joint_plugin_right" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>r_gripper_l_finger_joint</joint>
      <mimicJoint>r_gripper_r_finger_joint</mimicJoint>
      <multiplier>-1.0</multiplier>
    </plugin>
  </gazebo>

  <!-- Transmissions -->
  <!-- Right Arm -->
  <transmission name="right_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_s0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_s1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_e0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_e1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_w0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_w1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_w2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Left Arm -->
  <transmission name="left_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_s0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_s1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_e0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_e1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_w0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_w1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_w2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!-- Head -->
  <transmission name="head1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="head_pan">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="head_motor1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>
