<?xml version="1.0"?>
<launch>

    <arg name="model" default="$(find basic_rviz)/urdf/simple_box.xacro"/>
    <arg name="rvizconfig" default="$(find basic_rviz)/rviz/basic_1.rviz"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
    
    
    

</launch>